<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;">

  <div class="card" style="width:21rem;">

    <div class="card-header">
        Enter quantity of each team size:
				<div style="height: 5px;"></div>
    </div>

    <div class="card-body">

        <form autocomplete="off" action="adminCreatePrepTemplateData" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
						<div style="height: 12px;"></div>
						1 Player Teams: <input type="search" size="4" name="num1PlayerTeams" value="0" autocomplete="off">
						<div style="height: 14px;"></div>
            2 Player Teams: <input type="search" size="4" name="num2PlayerTeams" value="0" autocomplete="off">
						<div style="height: 14px;"></div>
			      3 Player Teams: <input type="search" size="4" name="num3PlayerTeams" value="0" autocomplete="off">
						<div style="height: 16px;"></div>
            <input type="submit" class="btn btn-info" value="Create Templates"/>
						&nbsp&nbsp&nbsp&nbsp
						<input type="submit" class="btn btn-info" formaction="assassinLogin" onsubmit="return waitCursor()" value="Home"/>
						<div style="height: 6px;"></div>
        </form>

      </div>

  </div>

</body>
</html>
