<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<div class="row justify-content-center">

  <div class="card" style="width:21rem;">

    <div class="card-header">
      <div style="height: 1px;"></div>
      Welcome to Assassin Admin
      <div style="height: 3px;"></div>
      Game Status: <%= gameStatus %>
      <div style="height: 4px;"></div>
    </div>

    <div class="card-body">

          <form autocomplete="off" action="adminSearchForPlayer" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
              <div style="height: 11px;"></div>
              Player Name: <input type="search" size="12" name="playerName" value="" autocomplete="off">
              <div style="height: 12px;"></div>
              Team Name: &nbsp<input type="search" size="12" name="teamName" value="" autocomplete="off">
              <div style="height: 12px;"></div>
              Player Code: &nbsp<input type="search" size="12" name="playerCode" value="" autocomplete="off">
              <div style="height: 12px;"></div>
              Team Code: &nbsp&nbsp<input type="search" size="12" name="teamCode" value="" autocomplete="off">

              <div style="height: 12px;"></div>
              Celebritarian: <input type="checkbox" name="celebritarian" unchecked>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              All: <input type="checkbox" name="searchAll" unchecked>

              <div style="height: 17px;"></div>
              <input type="submit" class="btn btn-info" value="Search For Player"/>
              &nbsp&nbsp<input type="submit" class="btn btn-info" formaction="adminSearchForTeam" onsubmit="return waitCursor()" value="Search For Team"/>
          </form>

          <div style="height: 4px;"></div>

          <hr>

          <form autocomplete="off" action="adminActivateTeamPrep" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
              <div style="height: 5px;"></div>
              Team Code: &nbsp&nbsp<input type="search" size="12" name="teamCode" value="" autocomplete="off">
              <div style="height: 18px;"></div>
              <input type="submit" class="btn btn-info" value="Activate Team Prep"/>
          </form>

          <div style="height: 4px;"></div>
          <hr>

          <div style="height: 5px;"></div>

          <form autocomplete="off" action="adminBulkPictureApprove" method="post" encType="multipart/form-data">
              <input type="submit" class="btn btn-info" value="Bulk Picture Approve"/>
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <input type="submit" class="btn btn-info" formaction="viewRules" value="View Rules"/>

              <div style="height: 22px;"></div>
              <input type="submit" class="btn btn-info" formaction="adminShowCreatePrepsPage" onsubmit="return waitCursor()" value="Create Prep Templates"/>
              <div style="height: 22px;"></div>

          </form>

          <form autocomplete="off" action="checkNotPaid" method="post" encType="multipart/form-data">
              <input type="submit" class="btn btn-info" value="Check Paid"/>
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <input type="submit" class="btn btn-info" formaction="checkPlayersWithNoTeam" value="Check No Team"/>
              <div style="height: 22px;"></div>
          </form>

          <form action="assassinLogout" method="post" onsubmit="return waitCursor()">
                <input type="submit" class="btn btn-info" value="Logout"/>
          </form>

          <div style="height: 22px;"></div>

          <form autocomplete="off" action="adminDropBomb" onsubmit="return confirmChoice(<%= CONFIRM_BOMB %>)" method="post" encType="multipart/form-data">
              <input type="submit" class="btn btn-info" value="Drop Bomb"/>
          </form>

          <div style="height: 4px;"></div>

          <hr>

          <form autocomplete="off" action="broadcastText" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
              Message:
              <div style="height: 5px;"></div>
              <textarea name="message" style="width:300px;height:100px;" value="" autocomplete="off"></textarea>

              <div style="height: 18px;"></div>
              <input type="submit" class="btn btn-info" value="Broadcast Text"/>
          </form>

          <hr>

          <div style="height: 2px;"></div>

          <form autocomplete="off" action="cronManager" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
              <input type="submit" class="btn btn-info" value="Cron Scheduler"/>
              <div style="height: 2px;"></div>
          </form>

          <hr>

          <div style="height: 2px;"></div>

          <form autocomplete="off" action="systemCheckCleanData" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
              <input type="submit" class="btn btn-info" value="Check Data"/>
              <div style="height: 16px;"></div>
          </form>

    </div>

  </div>

</div>

<div style="height: 4px;"></div>
