<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;">

<div class="row justify-content-center">

    <div class="card" style="width:21rem;">

        <div class="card-header">
            The teams below have not paid:
						<div style="height: 6px;"></div>
        </div>

        <div class="card-body">

						<div style="height: 8px;"></div>

						<%
                for(var i=0; i<teams.length; i++)
                {%>
                    <form autocomplete='off' action='adminSearchForTeam' method='post' onsubmit="return waitCursor()" encType='multipart/form-data'>
                        <input type='hidden' name='teamName' value=''>
                        <input type='hidden' name='playerName' value=''>
                        <input type='hidden' name='teamCode' value='<%=teams[i]['team-code']%>'>
                        <input type='submit' class='link-button' value='<%=teams[i]['team-name']%> - <%=teams[i]['team-code']%>'/>
												<div style="height: 12px;"></div>
                    </form>
            <% } %>

				<div style="height: 2px;"></div>

        <form autocomplete="off" action="sendAllNotPaidMessages" method="post" onsubmit="return confirmAdminMessageSize()" encType="multipart/form-data">

						<div style="height: 10px;"></div>
            Message (100 character limit):
            <div style="height: 6px;"></div>
            <textarea name="message" style="width:300px;height:100px;" value="" autocomplete="off"></textarea>
            <div style="height: 14px;"></div>
            <input type="submit" class="btn btn-info" value="Send Message"/>

            <div style="height: 8px;"></div>

          </form>

        <form autocomplete="off" action="assassinLogin" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
							<input type="submit" class="btn btn-info" value="Cancel"/>
							<div style="height: 6px;"></div>
				</form>

        </div>

    </div>

</div>

</body>
</html>
