<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

Click the 'Go Live' button below to move from 'Bench' to 'Live' status.
<div style="height: 4px;"></div>

<form action="goLive" method="post" onsubmit="return confirmChoice(<%= CONFIRM_GO_LIVE %>)">
    <div style="height: 5px;"></div>
    <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
    <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
    <input type="submit" class="btn btn-info" value="Go Live"/>
    <div style="height: 10px;"></div>
</form>
