<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;">

    <div class="card" style="width:21rem;">

	    	<div class="card-header">
						Welcome to Assassin, Porcfest, and Rogers Campground!
						<div style="height: 6px;"></div>
				</div>

				<div class="card-body">


					<form action="assassinLogin" method="post"onsubmit="return waitCursor()">
								<div style="height: 8px;"></div>
								Assassin is a fun and competitive Porcfest tradition!&nbsp&nbspThis year's game starts 9:00 AM Wednesday June 22 and ends 9:00 PM Saturday June 25.&nbsp&nbspLogin or Register below to create a team and join any time. Click the Rules button on the Player home page for full details.  Pay now or later at Porcfest.
								<div style="height: 18px;"></div>
								<input type="submit" class="btn btn-info" value="Login"/>
					</form>
					<div style="height: 18px;"></div>
					<form action="assassinRegister" method="post"onsubmit="return waitCursor()">
								<input type="submit" class="btn btn-info" value="Register"/>
					</form>


					<div style="height: 8px;"></div>
			</div>

		</div>

</body>
</html>
