<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;">

  <div class="card" style="width:21rem;">

    <div class="card-header">
        Payment Confirmed
				<div style="height: 3px;"></div>
    </div>

    <div class="card-body">
      <form action="assassinLogin" method="post" onsubmit="return waitCursor()">
            <div style="height: 5px;"></div>
            You have successfully paid through Paypal!
            <div style="height: 16px;"></div>
            <input type="submit" class="btn btn-info" value="Home"/>
            <div style="height: 4px;"></div>
      </form>

    </div>

  </div>

</body>
</html>
