<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<%  if	(gameStatus != "Over")
    {
%>
        Your team status is <b>Registered</b>.<br>Your individual status is <b><%= playerStatus %></b>.<br>Your Team will move to Waiting when your pictures are approved and you have paid.<br>

<% } else
  {%>
    <div style="height: 14px;"></div>
<% } %>
