<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;" onload="defaultCursor();">

<div style="height: 2px;"></div>

<div class="row justify-content-center">

		<div class="card" style="width:21rem;">

        <div class="card-header">
          Assassin Rules
          <div style="height: 4px;"></div>
        </div>

        <div class="card-body">

          <div style="height: 4px;"></div>

					<div class="rules-page">

            Assassin is a campground game of stealth, patience, and trickery.  It's also a great way to meet other PorcFest attendees.  The object of the game is to assassinate as many targets as possible with your squirt gun while avoiding being assassinated yourself.  This year’s big change is the introduction of teams (1, 2, or 3 players).  You get the team name, player name, and picture of your target.  If your team assassinates your target, your team gets a $5 bounty and a new target.
						Someone else always has your team as their target.  If they assassinate your team's live player, you’re out of the game but can buy back in through the site.  You must be at least 13 years old to be a Captain of a team or at least 10 years old to be on a team with an eligible Captain.
						<div style="height: 10px;"></div>
						Detailed Rules:
            <ul>
              <li>The game begins Wednesday at 9 AM and ends Saturday at 9:00 pm.</li>
							<li>No assassinations overnight between 9 PM and 9 AM.</li>
							<li>The Admin will have an Assassin table near the main Registration every day at Noon or you can contact the Admin through the website after reading through these rules if you have any questions.</li>
							<li>One small squirt gun is provided per team. Players can bring their own squirt guns or purchase additional guns from the Admin for $1.</li>

							<% if (paypalFlag != "Paypal Off")
								{ %>
									<li>Players can register, upload their photo, and pay for their Team ($10) at any time without Admin assistance or you can register in person with the Admin at Porcfest.  Team fees will be refunded if the team doesn’t play.</li>
						<% 	} else
								{ %>
									<li>Players can register and upload their photo at any time without Admin assistance or you can register in person with the Admin at Porcfest.</li>
						<% 	} %>

							<li>A new feature this year is the use of your email address and a password to login to the website.</li>
							<li>Another new feature is SMS text alerts for major game events.  It is highly recommended to include your phone number when registering to receive alerts including the moment you go "Live" in the game.</li>
							<li>Teams can be 1, 2, or 3 players.  Each team has a Captain that is the only player that can execute major features like Rebuy, Breaks, and Adding/Removing players.  The Captain is responsible for dividing up team winnings.
							<li>Only 1 player is Live at a given time.  The Live player is the only one that can assassinate the target or be assassinated.  The other players on the team are on the “Bench” but can still assist the Live player.</li>
							<li>One player will be Live at all times during the 12 hours of game time.</li>
							<li>Click the Go Live button if you are a player on the Bench and want to go Live. If you are eligible, you will change to Live status and the current Live player will go to the Bench.
							<li>Each shift as a Live player must be at least 1 hour in length.  Each player must have at least 1 Live shift per day.  If your team does not meet this requirement, the website will automatically assign a new Live player for your team with 1 or 2 hours remaining in the day.</li>
							<li>Once your team has registered, paid, and all pictures are approved, your team will be placed in the “Waiting Area” with a status of “Waiting”.  This may be before the game starts or during the game if you joined while the game was in progress.</li>
							<li>If you upload your own picture, take the photo with a secret hand symbol underneath your face.  If someone attempts to assassinate you, you can ask them for your secret symbol.  If they don’t know your symbol, they didn’t see your picture and are trying to trick you.  If someone knows your hand symbol, you can still request they log in and show you as their target if you are suspicious.</li>
							<li>When your team’s status changes to Live, you will see the team name, player name, and picture of your target on this website.  Once you are Live and have a target, you begin playing.</li>
							<li>You assassinate your target by shooting pure water on them or their clothes without anyone other than your target as a witness.  If another person witnessed the event, the assassination failed but can be attempted again later.  Players can shoot the water with a squirt gun or something similar to a water bottle.</li>
							<li>A "witness" is someone who was aware that the target was being doused at the exact time of the douse, but does not need to see the water.  It's not enough to see the aftermath or even the surprised yelp from the victim.  Teammates of the assassin can decline to be a witness.</li>
							<li>Hand-to-hand passing of water is no longer a valid assassination.</li>
							<li>If you're assassinated, you must immediately share the name of your target with your assassin so they enter it on their home page and then choose the "Confirm Kill" button.
							<li>The Admin will periodically run bonus-bounty contests during the day. Include your phone number to be alerted.
							<li>At any time, the admin can “Drop a Bomb” and all target assignments will be reshuffled.  The Waiting Area will be also be released into the game.  Any assassinations that are not logged on the website before the bomb is dropped do not count.</li>
							<li>To minimize disruption, anyone under the roof of a scheduled presentation is safe for the duration of that presentation.  A presentation is defined as an event at which attendants are intended to listen to a speaker.</li>
							<li>A player may stun their assassin by dousing them with water. This prevents that assassin from assassinating them for 60 minutes.</li>
							<li>Assassinations should be recorded on the website immediately to ensure accurate record keeping.  By reporting here, you get the picture of your next target immediately.</li>
							<li>If you leave PorcFest for good before 9 PM on Saturday, please use the Quit Game feature to free up your assassin to obtain a new target.</li>
							<li>If you leave PorcFest for more than 4 hours, please use the “Take a Break” feature.  You can use the “Return From Break” feature to return to the Waiting Area after 4 hours.  This will also free up your assassin to obtain a new target.</li>
							<li>Players may join after the game has started.  Newcomers are inserted into the Waiting Area and are released into the game upon one of several events: an assassination, a break, a quit, or a bomb.</li>
							<li>If you are eliminated, you Captain may re-enter your team at any time.  The cost is $5 or you may forfeit one bounty if you have earned any using the “Rebuy” Feature.  You can continue to rebuy online if you have bounties accrued or see the Admin in person.</li>
							<li>Each assassination you perform will earn your team $5 with potential bonus bounties.  You can request your accumulated prize money any time after the game ends or after your team is eliminated with no plans on rebuying.</li>
							<li>Celebritarians pay half-price for their team fee ($5).  Celebritarians also receive an extra bounty bonus on their first assassination.  However, assassinating a Celebritarian also earns an extra bounty.</li>
							<li>Do not harass innocent bystanders that do not want to participate in the game and/or be a witness.</li>
							<li>Please try to mediate disagreements between assassin and target before involving the Admin.</li>
							<li>Assassin will not share any player data.</li>

							<% if (paypalFlag != "Paypal Off")
								{ %>
									<li>Paypal's acceptable use policy: <a href="https://www.paypal.com/en/webapps/mpp/ua/acceptableuse-full" target="_blank">Acceptable Use</a></li>
								<% 	} %>

							</ul>

            <div style="height: 4px;"></div>

					</div>

					<form action="/" method="get">
								<input type="submit" class="btn btn-info" value="Home"/>
					</form>

						<div style="height: 16px;"></div>

						<img src="graphics\Auth0PorcfestLogoFinal.jpg">

        </div>

      </div>

</div>

<div style="height: 10px;"></div>

</body>
</html>
