<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;" onload="defaultCursor();">

<div style="height: 2px;"></div>

<div class="row justify-content-center">

    <div class="card" style="width:21rem;">

        <div class="card-header">
          Full Rankings - Kills
          <div style="height: 4px;"></div>
        </div>

        <div class="card-body">

					<div class="rules-page">

					<div style="height: 4px;"></div>
					<u>Teams</u>
					<div style="height: 2px;"></div>

					<%
							var i = 0;

							// teams first -------------------------


							if ((i<rows[0].length) && (rows[0][i].type == "Team"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Team"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>


					<u>Players</u>
					<div style="height: 2px;"></div>

					<%

							// player -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Player"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Player"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<form autocomplete="off" action="assassinLogin" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
                <input type="submit" class="btn btn-info" value="Home"/>
                <div style="height: 6px;"></div>
          </form>

					<div style="height: 10px;"></div>

        </div>

      </div>

</div>

</body>
</html>
