
hr
{
        border: 0;
        height: .02em;
        background-color: gray;
}

textarea {
  resize: none;
}

ul { margin: 0; padding: 15px;}

.rules-page
{
         font-size: 12px;
}

.card
{
         border-color: black;
         border-width: 1.5px;

         /* width: 500px; */
}

.card-header
{
         background-color: #17a2b8;
         border-color: black;
         border-width: 1px;
         font-weight: bold;
         padding-top: 5px;
         padding-bottom: 3px;
         padding-left: 10px;
         color: white;
}

.card-body
{
         padding-top: 5px;
         padding-left: 10px;
         padding-bottom: 9px;
         padding-right: 8px;
}


img {
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
  width: 314px;
}

.btn
{
  color: white;
}

.link-button {
     background: none;
     border: none;
     color: #1a0dab;
     text-decoration: underline;
     cursor: pointer;
}
